{% extends 'homepage/base.html' %}
{% block content %}
  {% if error %}
    <div class="alert alert-danger">
      {{ error.text }}
    </div>
  {% endif %}
<h1>Fill Details</h1>
<form method="POST" action="{% url 'details' %}" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="form-group">
    Name:
    <br>
    <input type="text" name="nam" value="">
  </div>
  <div class="form-group">
    Email:
    <br>
    <input type="email" name="email" placeholder="abc@thapar.edu">
  </div>
  <div class="form-group">
    Phone:
    <br>
    <input type="text" name="phone" value="">
  </div>
  <div class="form-group">
    Hostel:
    <select name='Hostel' class="form-control">
      <option value=1>A</option>
      <option value=2>J</option>
      <option value=3>M</option>
      <option value=4>FRD</option>
      <option value=5>K</option>
      <option value=6>L</option>
      <option value=7>B</option>
      <option value=8>C</option>
    </select>
  </div>
  <!-- <div class="form-group">
    Balance:
    <input class="form-control" type="text" placeholder="0" readonly>
  </div> -->
  <input type="submit" name="submit" value="Save details">
</form>
{% endblock content %}
